<section>
    <p class="h1">Plane Management</p>
    <br>
    <button class="btn-success btn" style="margin-bottom: 1%" routerLink="/intranet/planeManagement">Add Plane</button>
    <br>
        <div class="input-group mb-3 col-md-2">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="bi bi-search"></i></span>
          </div>
          <input  [(ngModel)]="filtreModeleAvions" name="filtre" type="text" class="form-control" placeholder="Search">
        </div>
        <br>
        <input type="button" value="Add New Flight" [routerLink]="['/intranet/manageFlight']" class="btn">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Model</th>
                    <th>Code Modèle</th>
                    <th>Capacite</th>
                    <th>Autonomie</th>
                    <th>Type</th>
                    <th>Manage</th>
                </tr>
            </thead>
            <tbody>
            <tr *ngFor="let av of planeService.planes | modele:filtreModeleAvions" (click)="selectAvion(av.code)" >
                <td data-label="Account">{{av.model}}</td>
                <td data-label="Due Date">{{av.code}}</td>
                <td data-label="Amount">{{av.passNumber}}</td>
                <td data-label="Amount">{{av.autonomy}}</td>
                <td data-label="Period">{{av.type}}</td>
                <td>
                  <button class="btn btn-warning"  [routerLink]="['/intranet/planeManagement']" [queryParams]="{id:av.code}">Update</button>
                  <button class="btn-danger btn" style="margin: 4px" (click)="deletePlane(av.code)">Delete</button>
                </td>
              </tr>
            </tbody>
        </table>
</section>
