section {
  margin: 50px auto;
  max-width: 600px;
}

form {
  background-color: #f0f0f0;
  border: 2px solid #ccc;
  padding: 20px;
  border-radius: 10px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input,
select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

select[multiple] {
  height: auto;
}

button {
  display: block;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: #0056b3;
}

.form-group:last-child {
  margin-bottom: 0;
}
